<div id="gameSection" ng-show="levelSelected">
    <sokoban-board></sokoban-board>
    <nav class="col-sm-offset-8">
        <ul class="list-group">
            <li ng-repeat="level in levels" class="list-group-item">
                <level-details></level-details>
            </li>
        </ul>
    </nav>
</div>
<div class="col-sm-8 col-sm-offset-2" ng-hide="levelSelected">
    <h1>Choose a level to play <small>or continue an old one...</small></h1>
    <ul class="list-group">
        <li ng-repeat="level in levels" class="list-group-item">
            <level-details></level-details>
            <!-- {{level.Name}} ({{level.Height}}x{{level.Width}})
            <a class="badge btn btn-default" ng-click="restart(level)">Restart</a>
            <a class="badge btn btn-default" ng-click="start(level)" ng-show="level.state == 0">Start</a>
            <a class="badge btn btn-default" ng-click="continue(level)" ng-show="level.state == 1">Continue</a>
            <a class="badge btn btn-default" ng-click="continue(level)" ng-show="level.state == 2">Completed</a> -->
        </li>
    </ul>
</div>
